langchain==0.3.14
langchain-community==0.3.14
langchain-huggingface==0.1.2
faiss-cpu==1.9.0.post1
sentence-transformers
transformers>=4.44.0
torch
numpy>=2.1.0
scipy>=1.14.1
pydantic<3,>=1
python-dotenv
